*{
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #62001d;
    background-image: linear-gradient(78deg, #62001d 0%, #d80013 50%, #62001d 100%); */

}
:root{
    --blue-a:#56c4ff;
    --blue-b:#006daf;
    --blue-c:#003164;
    --grey:#68696b;
    --white:#e0dcdd;
    --black:#313133;
    --orange:#ea4513;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(90deg, #000000 0%, #363636 100%);
       
}
header img{
    margin: 1rem 0 0 0;
    width: 9rem;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 34px;
}
header nav a{
    text-decoration: none;
    color:var(--white);
    padding: 0 1rem;
    text-shadow: 3px 3px 2px var(--black);
    font-family: 'Great Vibes', cursive; 
}
main section{
    box-shadow: 0 10px 8px var(--black);
    margin-bottom: 8px;
}
.CTA{
    display: flex;
    justify-content: space-evenly;
    color:var(--white);
    background-image: linear-gradient(90deg, #000 0%, #363636 100%);
    
}
.CTA img{
    filter: drop-shadow(10px 10px 7px var(--black));
    
}

.CTA h1{
    font-family: 'Great Vibes', cursive;
    font-size: 8rem;
    color:var(--blue-b) ;
}
.CTA h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
.CTA-Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:var(--white);
}
.CTA-Button a{
    text-decoration: none;
    box-shadow: 3px 3px 8px var(--black);
    color:var(--white);
    background-color: var(--blue-c);
    padding: 0.5rem 3rem;
    
}

.separador1{
    width: 50%;
    position: absolute;
    top: 42rem;
    left: 2rem;
    filter: drop-shadow(10px 10px 7px #000);
}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30rem;

    background-image: linear-gradient(180deg, #969696 0%, #FFFFFF 4%);
    background-image: linear-gradient(90deg, #00DBDE 0%, #2500ff 100%);
    box-shadow: 0 10px 10px var(--black);
}
.nosotros div canvas{
    width: 40rem;
}
.nosotros-content{
    color: var(--black-color);
    font-size: medium;
    margin: auto 6rem;
    text-align: justify;
}