*{
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    margin: 0;
    padding: 0;
    /* background-color: #62001d;
    background-image: linear-gradient(78deg, #62001d 0%, #d80013 50%, #62001d 100%); */

}
:root{
    --pink-a-color:#f90483;
    --pink-b-color:#f86db5;
    --red-a-color:#f90410;
    --red-b-color:#b2030c;
    --white-color:#e0dcdd;
    --black-color:#292222;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    
}
header img{
    margin: 1rem 0 0 0;
    width: 8rem;
    /* margin: 2rem 2rem 0 2rem;
    padding: 0; */
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* margin: 2rem 2rem 0 2rem; */
    /* padding: 20px 20px 0 20px; */
    font-size: 16px;
}
header nav a{
    text-decoration: none;
    color:var(--white-color);
    padding: 0 1rem;
}

.CTA{
    display: flex;
    justify-content: space-evenly;
    color:var(--white-color);
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
}
.CTA img{
    filter: drop-shadow(10px 10px 7px var(--black-color));
}

.CTA h1{
    font-family: 'Great Vibes', cursive;
    font-size: 8rem;
    color:var(--pink-a-color) ;
}
.CTA h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
.CTA-Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:var(--white-color);
}
.CTA-Button a{
    text-decoration: none;
    box-shadow: 10px 8px 7px var(--black-color);
    color:var(--white-color);
    background-color: var(--red-b-color);
    padding: 0.5rem 3rem;
}

.separador1{
    width: 50%;
    position: absolute;
    top: 38rem;
    left: 2rem;
    /* filter: drop-shadow(10px 10px 7px var(--black-color)); */


}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    background-color: #969696;
    background-image: linear-gradient(180deg, #969696 0%, #FFFFFF 4%);
}
.nosotros div canvas{
    width: 40rem;
}
.nosotros-content{
    color: var(--black-color);
    font-size: medium;
    margin: auto 6rem;
    text-align: justify;
}